.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: var(--colors-background);
  color: var(--colors-primary);
}
.navbar__main {
  display: flex;
  justify-content: space-between;
  background-color: var(--colors-background);
  color: var(--colors-primary);
}
.navbar__navlink {
  text-decoration: none;
  cursor: pointer;
  margin-left: 0.4rem;
  color: var(--colors-primary);
}

.navbar__searchbox input {
  display: none;
}

.navbarFlex {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 650px) {
  .navbar__searchbox input {
    color: var(--colors-background);
    outline: none;
  }
}
