.cardbody__navlink {
  text-decoration: none;
  color: currentColor;
}

.cardbody__date {
  color: var(--colors-secondary);
  cursor: pointer;
}
.cardbody__date:hover {
  color: white;
}
.cardbody__menu {
  color: var(--colors-secondary);
  cursor: pointer;
}

.cardbody__menu:hover {
  color: white;
}

.network__error {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--colors-secondary);
  padding: 0.5rem;
}
