.root {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 650px) {
  .root {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    max-width: 90%;
  }
}
