.videos {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 6rem;
}

.container {
  margin-left: auto;
  margin-right: autos;
}

.loader {
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
}
