.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cardTitle {
  font-size: 0.8rem;
  padding: unset;
}

.cardText {
  font-size: 0.7rem;
  padding: unset;
}

.card__more {
  cursor: pointer;
}

.card__more:hover {
  color: white;
}

.card__date {
  color: var(--colors-secondary);
}

@media screen and (min-width: 650px) {
  .root {
    padding: 1rem;
  }
}
