@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --colors-login: #0095f6;
  --colors-remove: #ef4444;
}

html {
  scroll-behavior: smooth;
}

body[data-theme="light"] {
  --colors-primary: #181818;
  --colors-secondary: #aaaaaa;
  --colors-background-dark: white;
  --colors-background: white;
  --colors-background-light: white;
}
body[data-theme="dark"] {
  --colors-primary: #ffffff;
  --colors-secondary: #aaaaaa;
  --colors-background-dark: #181818;
  --colors-background: #212121;
  --colors-background-light: #3d3d3d;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--colors-primary);
  background-color: var(--colors-background-dark);
}

.flex {
  display: flex;
}

.card {
  max-width: unset;
  max-width: 100%;
}

.card-body {
  display: unset;
  display: grid;
  grid-template-columns: 1fr 9fr 0.5fr;
  padding: unset;
  padding: 0.8rem;
}
.card-body__logo img {
  border-radius: 50%;
  width: 100%;
}
.card-body__title {
  margin-left: 0.4rem;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  font-size: 0.8rem;
}

.card-body__date,
.card-body__menu {
  color: var(--colors-secondary);
}

.card-body__menu,
.card-body__title {
  cursor: pointer;
}
.loader {
  animation: spinner 2s infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 960px) {
  .card {
    max-width: 32%;
    margin: 0.4rem;
  }
  .container {
    display: grid;
    grid-template-columns: 10% 90%;
  }
}

@media screen and (min-width: 650px) {
  .card {
    max-width: 31%;
    margin: 0.4rem;
  }
}
